<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda</title>
</head>
<body>
    <h1>Mi página de Búsqueda</h1>
    <p>Ingrese un parámetro de búsqueda en la barra de URL, y pulse ENTER para realizarla.</p>
    <div>
        
    </div>
</body>
</html>