<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Template</title>
</head>
<body>
    <h1>Mi primera p치gina EJS</h1>
    <p>Este es un documento HTML generado a partir de una p치gina con extensi칩n EJS. Esta se basa en la extensi칩n EJS TEMPLATE.</p>
    <div>
        <h2>Listado de <%= data.userQuery %></h2>
        <ol>
            <% data.searchResults.forEach(result => { %>
                <li> <%= result %> </li>
            <% }) %>
        </ol>
    </div>
</body>
</html>